body{
    /* background-color:wheat; */
    background-image: url(zeynep-sumer-skh-CC9A77U-unsplash.jpg);
    background-size:cover;
    color:white;
    font-size: 30px;
}
h1{
    font-style:italic;
    color:white;
    font-size: 80px;
    text-align: center;
    margin-top: 5px;
}
#Part1{
    text-align:center;
}

